<?xml version="1.0"?>
<robot name= 'arm_v0' xmlns:xacro="http://ros.org/wiki/xacro">

<!-- =============== Constants =============== -->
  <xacro:property name="arm_type"       value="TRBA-R-004-7"/>
  <xacro:property name="vis_mesh_scale" value="1.0 1.0 1.0"/>
  <xacro:property name="col_mesh_scale" value="0.01 0.01 0.01"/>

  <!-- =============== Load Dependencies =============== -->
  <xacro:include filename="$(find torobo_resources)/urdf/common.xacro" />
  <xacro:include filename="$(find torobo_resources)/urdf/arm/arm_common.gazebo.xacro" />

  <xacro:macro name="arm_v0" params="prefix parent *joint_origin">

 <!-- Gazebo -->
    <xacro:arm_gazebo_v0 prefix="${prefix}"/>
  
    <!-- =============== Transmission =============== -->
    <simple_transmission name="${prefix}arm/joint_1" reduction="1"/>
    <simple_transmission name="${prefix}arm/joint_2" reduction="1"/>
    <simple_transmission name="${prefix}arm/joint_3" reduction="1"/>
    <simple_transmission name="${prefix}arm/joint_4" reduction="1"/>
    <simple_transmission name="${prefix}arm/joint_5" reduction="1"/>
    <simple_transmission name="${prefix}arm/joint_6" reduction="1"/>
    <simple_transmission name="${prefix}arm/joint_7" reduction="1"/>

  </xacro:macro>

</robot>
