<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- =============== Configure robot ================= -->
  <xacro:macro name="torobo_arm_v0" params="robot_config">

    <xacro:property name="base" value="${robot_config['base']}"/>
    <xacro:property name="arm" value="${robot_config['arm']}"/>
    <xacro:property name="gripper" value="${robot_config['gripper']}"/>

    <!-- world -->
    <link name="world"/>

    <xacro:unless value="${base == ''}">
      <xacro:include filename="$(find torobo_resources)/urdf/base/${base}/base_col.urdf.xacro"/>
      <xacro:base_v0 prefix="" parent="world"> 
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:base_v0>
    </xacro:unless>

    <xacro:unless value="${arm == ''}">
      <xacro:include filename="$(find torobo_resources)/urdf/arm/${arm}/arm.urdf.xacro"/>
      <xacro:arm_v0 prefix="" parent="base/link_tip">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:arm_v0>
    </xacro:unless>

    <xacro:unless value="${gripper == ''}">
      <xacro:include filename="$(find torobo_resources)/urdf/gripper/${gripper}/gripper_col.urdf.xacro"/>
      <xacro:gripper_v0 prefix="gripper/" parent="arm/link_tip" use_graspfix="false">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:gripper_v0>
    </xacro:unless>

  </xacro:macro>

</robot>
